<h3>{{ 'reset_password.request.title'|trans({}, 'PEUser') }}</h3>
<p class="text-muted">{{ 'reset_password.request.text'|trans({}, 'PEUser') }}</p>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('pe_user__reset_password_request'), 'attr': {'novalidate': true}}) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary px-4" type="submit">Send</button>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-link px-0" href="{{ path('pe_user__security_login') }}">Sign in</a>
        </div>
    </div>
{{ form_end(form) }}