<h3>{{ 'change_password.title'|trans({}, 'PEUser') }}</h3>

{% form_theme form '@PEUser/Form/bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'novalidate': true}}) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary px-4" type="submit">
                {{ 'form.sign_in'|trans({}, 'PEUser') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}